<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script type="text/javascript" src="../../vendor/angular/angular.js"></script>
    <script type="text/javascript" src="app/index.js"></script>
    <title>控制器</title>
</head>
<body>

    <div ng-app="myApp" ng-controller="changeName">
        姓：<input type="text" ng-model="xing"><br>
        名：<input type="text" ng-model="ming"><br>
        <br>
        姓名： {{xing + "  " + ming }}
    </div>







    <script type="text/javascript" src="../../vendor/angular/angular.js"></script>
    <script type="text/javascript" src="../../vendor/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="../../vendor/bootstrap/bootstrap.min.js"></script>
</body>
</html>