<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>练习02-产品列表</title>
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <style>
        .orderColor{
            color:red;
        }
    </style>
</head>
<body>
<h2>过滤器 产品列表<smal>练习</smal></h2>

<div ng-app="product" ng-controller="productController" class="container">
  <nav class="navbar navbar-default" role="search">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collspae-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="search.id" class="form-control" placeholder="search">
        </div>
      </form>

    </div>
  </nav>
  <table class="table">
    <thead>
    <tr>
      <th ng-click="changeOrder('id')" ng-class="{dropup:order === ''}">
        产品编号
        <span ng-class="{orderColor:orderType === 'id'}" class="caret"></span>
      </th>
      <th ng-click="changeOrder('name')" ng-class="{dropup:order === ''}">
          产品名称
          <span ng-class="{orderColor:orderType === 'id'}" class="caret"></span>
      </th>
      <th ng-click="changeOrder('price')" ng-class="{dropup:order === ''}">
          产品价格
          <span ng-class="{orderColor:orderType === 'id'}" class="caret"></span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in productData | filter : search | orderBy : order + orderType">
      <td>
        {{product.id}}
      </td>
      <td>
        {{product.name}}
      </td>
      <td>
        {{product.price | currency:'￥'}}
      </td>
    </tr>
    </tbody>
  </table>
</div>





<script type="text/javascript" src="../../vendor/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="app/productList.js"></script>
</body>
</html>